<% layout('/layouts/boilerplate') %> 

<div class="row">
    <h1 class="text-center">New Temples</h1>
    <div class="col-md-6 offset-md-3">
        <form action="/campgrounds" method="POST" class="validated-form" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="title">Title</label>
                <input class="form-control" type="text"  placeholder="Enter Temple Name" id="title" name="campground[title]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="location">Address</label>
                <input class="form-control" type="text" placeholder="Enter Location" id="location" name="campground[location]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label  class="form-label" for="opentiming">Open-Timing</label>
                <input class="form-control" type="text" placeholder="Ex-10:00 AM" id="opentiming" name="campground[opentiming]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3">
                <label  class="form-label" for="opentiming">Close-Timing</label>
                <input class="form-control" type="text" placeholder="Ex-07:00 PM" id="closetiming" name="campground[closetiming]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label  class="form-label" for="contactnumber">Contact Number</label>
                <input class="form-control" type="number" placeholder="Ex:+919988556634" id="contactnumber" name="campground[contactnumber]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>

            <div class="mb-3">
                <label  class="form-label" for="websites">Websites</label>
                <input class="form-control" type="text" placeholder="www.pillaiyarpattitemple.com" 
                id="websites" name="campground[websites]" required>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
           

            <div class="mb-3">
                <label  class="form-label" for="description">Description</label>
                <textarea class="form-control" type="text" placeholder="Enter Description" id="description" name="campground[description]" required></textarea>
                <div class="valid-feedback">
                    looks good!
                </div>
            </div>
            <div class="mb-3 custom-file">
                <label for="formFile" class="form-label custom-file-label"><b>Upload Images :</b></label>
                <input class="form-control " type="file" id="formFile" name="image" multiple required>
                <div class=" valid-feedback">
                    Image is ok!
                </div>
                <div class='invalid-feedback'>
                    Upload the Images !
                </div>
            </div>
            <div class="mb-3 text-center">
            <button class="btn btn-success ">Add Temples</button>
            </div>

        </form>
        <div class="text-center"><a href="/campgrounds" >All Temples</a>
        </div>
    </div>
</div>

