.card shadow{
  width: 500px;
}
.container{
  width:1600px;
  padding:2px;
  border-radius: 2px blue solid ;
}
.card-title{
  font-size:20px;
font-family: 'Times New Roman', Times, serif;
  margin-left:60px;
}